@font-face {
    font-family: "Satisfy";
    src: url("resources/fonts/Satisfy-Regular.ttf");
}

.banner {
    font-family: "Satisfy";
}
.icon {
    width: 35px;
}
.bg-cancel {
    background-color: #ff6160 !important;
    border-color: #98c8c3 !important;
}
.bg-confirm {
    background-color: #f5ece2 !important;
}